body{
    margin:0;
    touch-action:none
}

#drawCanvas{
    border:1px solid black;
    outline:none
}
.settings{
    padding:15px
}
.settings>div{
    padding:4px;
}
.settings>div input{
    vertical-align:middle
}
.settings>div span{
    vertical-align:middle
}
#mainContainer{
    display:flex;
    flex-direction:row;
    width:100%;
    height:650px
}
#tabs{
    flex:1;
}
#algOutput{
    padding:5px;
    border:1px solid #aaa;
    overflow:auto;
    height:300px;
}

#tabs{
    flex:1;
    display:flex;
    flex-direction:column;
    width:0
}
#tabs>div+div{
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    overflow:auto;
    display:none;
    background:#f8f8f8;
    flex-basis:600px;
}
#tabMenu{
    flex:1;display:flex;flex-direction:row;
}
#tabMenu>div{
    flex:1;
    border-right:1px solid #aaa;
    text-align:center;
    align-content:center;
    padding:8px;
    background:#eee;
}
table{
    border-collapse:collapse
}
#adjMatrix th,#adjMatrix td{
    border:1px solid black;
    padding:2px
}
#adjList tr,#adjList th{
    border:1px solid black;
    padding:2px
}

:is(#adjMatrixExpander,#adjListExpander) table{
    display:none
}

:is(#adjMatrixExpander,#adjListExpander).expanded table{
    display:block
}

#settingsTitle{
    margin-left:0;
}
#graphCode{
    display:block;
    resize:none;
    width:60%;
    height:10vh
}

#graphMenu>div{
    padding:5px
}

.settings div{
    margin-left:20px
}

button{
    border:1px solid #888;
    background:#ddd;
    padding:4px 6px;
    margin:5px 2px;
    font-size:12px;
    border-radius:9in
}

button:hover{
    background:#d0d0d0
}

input[type=number]{
    width:4em
}
#toolbar{
    flex:1;
    padding:0 10px;
    align-content:center;
    background:#eee;
    border-right:1px solid #aaa
}
#toolbar button.selected{
    outline:2px solid black
}
#deleteButton{
    margin-left:30px;
}
